#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# plan files
*.plan

# k8s output files
config_map_aws_auth.yml
kubeconfig.yml

# sensitive k8s files
config_auth_users.yml
